<head>
<%# <link href=".stylesheets/users.scss" type="text/scss" rel="stylesheet"> %>
</head>

<body>

<h1 class= "central">Welcome to Placeholder </h1>

<%= render "/shared/errors" %>

<div class= "borders">
<%= form_tag "/handle_login" do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <p>
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password %>
    </p>
    <p>
    <%= submit_tag "Login", class: "button" %>
    </p>
<% end %> 

<%= button_to "Sign up!", new_user_path, method: "get", class: "button" %>
</div>

</body>