<h1> Welcome Back <%=@user.username%>! </h1>

<div class = "row">
    <div class = "column">
    <p class= "t1">All Activities </p>
    <ul>
        <% @activities.each do |activity| %>
            <li class = 'list'>
                <%= link_to activity.name, activity_path(activity.id)%>
                
                <%= button_to 'Add to Favorites', {:controller => "favorites", :action => "create", :user_id => @user, :activity_id=> activity} , :method=>:post, class: "button" %>
        
            </li>
        <% end %>
    </ul>
    <%= button_to "Logout", "/logout", method: "delete", class: "button" %>
    </div>
    
    <div class = "column">
    <p class = "t1"> Your Favorites </p>
    <ul>
        <% @user.favorites.each do |fav| %>
            <li class = 'list'>
            <%= link_to fav.activity.name, activity_path(fav.activity.id)%>
            <%= button_to "Delete Favorite", {:controller => "favorites", :action => "destroy", :user_id => params[:id], :activity_id=> fav.activity, :favorite_id => fav}, method: "delete", class: "button" %>
            </li>
        <% end %>
    </ul>
    </div>
</div>

