<h1> Welcome Back <%=@user.username%>! </h1>

<%= button_to "Logout", "/logout", method: "delete" %>

<h2>All Activities </h2>

<ul>
    <% @activities.each do |activity| %>
    <li>
        <%= link_to activity.name, activity_path(activity.id)%>
        <%= button_to 'Add to Favorites', {:controller => "favorites", :action => "create", :user_id => @user, :activity_id=> activity} , :method=>:post  %>
        
    </li>
        <% end %>
</ul>

<h3> Your Favorites </h3>

<ul>
    <% @user.favorites.each do |fav| %>
    <li>
        <%= link_to fav.activity.name, activity_path(fav.activity.id)%>
    </li>
        <% end %>
</ul>