
<div class = "main">
<p class = "title"> <%=@post.title%> </p>
<p class= "sub"> <%=@post.body%> </p>
<p> By: <%=@post.user.username%></p>
<p class = "time"> <%= @post.created_at %> </p>
</div>


<p class = "comment"> Comments </p>

<ol>
    <% @post.comments.each do |comment| %>
        <ul class = "post">
            <%= comment.body%>
            <p> By: <%= comment.user.username%> </p>
            <p class = "time"> <%= comment.created_at %> </p>
        </ul>
    <%end%>
</ol>

<%= form_tag "/comments" do %>
    
    <%= text_area_tag :body %>
    <%= hidden_field_tag :user_id, @user%>
    <%= hidden_field_tag :post_id, @post.id %>
    <p>
    <%= submit_tag "Submit a Comment" %>
    </p>
<% end  %>

<%= button_to "#{@post.activity.name}",activity_path(@post.activity.id), method: "get"  %>
<%= button_to "Back to Homepage", user_path(@user), method: "get" %>