<h1> <%=@activity.name%> </h1>

<p class = "t1"> What is <%=@activity.name%>? </p>
<p class = "description"> <%= @activity.description%> </p>

<p class = "saying"> What people are saying: </p>

<ol>
    <% @activity.posts.each do |post| %>
    <ul class = "post">
        <p><%= link_to post.title, post_path(post.id) %>
        By: <%= post.user.username %>
        </p>
        <p class = "time">
        <%=post.created_at%>
        </p>
    </ul>
        <%end%>
</ol>

<%= button_to "Submit a Post", new_post_path, method: "get"  %>

<%= button_to "Back to Homepage", user_path(@user), method: "get" %>